@font-face {
    font-family: 'AktivGrotesk';
    src: url('assets/fonts/AktivGrotesk-Regular.woff2') format('woff2');
}

@font-face {
    font-family: 'AktivGrotesk Medium';
    src: url('assets/fonts/AktivGrotesk-Medium.woff2') format('woff2');
}

@font-face {
    font-family: 'William';
    src: url('assets/fonts/William Text Pro Reg Ita.woff2') format('woff2');
}

@font-face {
    font-family: 'Berlingske';
    src: url('assets/fonts/BerlingskeSerif-Md.woff2') format('woff2');
}